---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { buttonVariants } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { Separator } from "@/components/ui/separator";
const posts = await Astro.glob("../content/posts/*.md");
import { ScrollArea, ScrollBar } from "@/components/ui/scroll-area";
---

<BaseLayout
  title="Astro Shadcn UI Template"
  description="This template helps you build apps with Astro, Tailwind CSS, and Shadcn UI."
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        Welcome to the Zombie Media Archive
      </h1>
      <p class="max-w-[700px] text-lg text-muted-foreground">
        Explore the collection of Zombie Media.
      </p>

      <div>
        <ScrollArea class="w-96 whitespace-nowrap rounded-md border">
          <div class="flex space-x-4 pb-4">
            {
              posts.map((post) => (
                <a href="">
                  <Card class="shrink-0">
                    <CardHeader>
                      <div class="overflow-hidden rounded-md">
                        <img
                          src="https://i.ebayimg.com/images/g/ZhYAAOSwApBhX5z7/s-l1200.webp"
                          alt=""
                          class={cn(
                            "h-auto w-80 object-cover transition-all hover:scale-105",
                            "aspect-square"
                          )}
                        />
                      </div>
                    </CardHeader>
                    <CardContent>
                      <CardTitle>{post.frontmatter.title}</CardTitle>
                      <CardDescription>Card Description</CardDescription>
                    </CardContent>
                    <CardFooter>by: {post.frontmatter.author}</CardFooter>
                  </Card>
                </a>
              ))
            }
          </div>
        </ScrollArea>
      </div>
    </div>
  </section>
  <Separator />
  <section
    class="container grid items-center gap-6 pb-8 pt-6 md:py-10 m-auto text-center"
  >
    <h1
      class="text-2xl font-extrabold leading-tight tracking-tighter md:text-3xl"
    >
      Want to contribute a Zombie Medium?
    </h1>
    <div
      class="flex flex-col justify-between max-w-[1000px] text-lg text-muted-foreground m-auto gap-4"
    >
      <p class="leading-7">
        Contact me:
        <br />
        <a
          href="mailto:jonas.westendorp@gmail.com"
          class="font-medium text-primary underline underline-offset-4"
          >jonas.westendorp@gmail.com</a
        >
      </p>

      or
      <p class="leading-7">
        Make a pull request:
        <br />
        <a
          href="https://github.com/jwestendorp/zombie-media-archive"
          class="font-medium text-primary underline underline-offset-4"
          >https://github.com/jwestendorp/zombie-media-archive</a
        >
      </p>
    </div>
  </section>
</BaseLayout>
