---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { buttonVariants } from "@/components/ui/button";
import { getCollection } from "astro:content";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { Separator } from "@/components/ui/separator";
// const posts = await Astro.glob("../content/posts/*/index.md");
const posts = await getCollection("posts");
import { ScrollArea, ScrollBar } from "@/components/ui/scroll-area";
import { Image } from "astro:assets";
---

<BaseLayout
  title="Astro Shadcn UI Template"
  description="This template helps you build apps with Astro, Tailwind CSS, and Shadcn UI."
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex flex-col items-start gap-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        Welcome to the Zombie Media Archive
      </h1>
      <p class="max-w-[700px] text-lg text-muted-foreground">
        Explore the collection of Zombie Media and repurposed e-waste.
      </p>

      <div
        class="grid w-full gap-3"
        style="grid-template-columns: repeat(auto-fit, minmax(300px,1fr));"
      >
        {
          posts.map((post) => (
            <a href="" class="w-full  overflow-hidden aspect-[3/4.5]">
              <Card>
                <CardHeader>
                  <div class="overflow-hidden rounded-md">
                    <Image
                      src={post.data.thumbnail}
                      alt=""
                      class={cn(
                        "h-auto w-80 object-cover transition-all hover:scale-105",
                        "aspect-square"
                      )}
                    />
                  </div>
                </CardHeader>
                <CardContent class="w-full">
                  <CardTitle>{post.data.title}</CardTitle>
                  {post.data.description && (
                    <CardDescription>{post.data.description}</CardDescription>
                  )}
                </CardContent>
                <CardFooter>by: {post.data.author}</CardFooter>
              </Card>
            </a>
          ))
        }
      </div>
    </div>
  </section>
  <Separator />
  <section
    class="container grid items-center gap-6 pb-8 pt-6 md:py-10 m-auto text-center"
  >
    <h1
      class="text-2xl font-extrabold leading-tight tracking-tighter md:text-3xl"
    >
      Want to contribute a Zombie Medium?
    </h1>
    <div
      class="flex flex-col justify-between max-w-[1000px] text-lg text-muted-foreground m-auto gap-4"
    >
      <p class="leading-7">
        Contact me:
        <br />
        <a
          href="mailto:jonas.westendorp@gmail.com"
          class="font-medium text-primary underline underline-offset-4"
          >jonas.westendorp@gmail.com</a
        >
      </p>

      or
      <p class="leading-7">
        Make a pull request:
        <br />
        <a
          href="https://github.com/jwestendorp/zombie-media-archive"
          class="font-medium text-primary underline underline-offset-4"
          >https://github.com/jwestendorp/zombie-media-archive</a
        >
      </p>
    </div>
  </section>
</BaseLayout>
